.text-center {
    text-align: center;
  }

.group-names-container {
    color: rgb(76, 9, 90);
    font-weight: bold;
    text-align: center;
    font-size: 7px;
    }

h1 {
    color: rgb(27, 24, 219);
    font-family: 'sans-serif';
    text-align: center;
    font-size: 40px;
    }




iframe {
    position: relative;
    width: 24%;
    height: 22vh;
  }

